@import "../../utils/colors.scss";
.bottomMenu-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: $color-secondary;
	position: fixed;
	bottom: 0;
	border-radius: 20px 20px 0 0;
	height: 5vh;
	width: 50vw;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	.icon-bottomMenu {
		height: 30px;
		width: 30px;
		fill: $color-tertiary;
	}
	.icon-bottomMenu.active {
		fill: rgba(255, 255, 255, 1);
	}
}
